*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    
    background: url(../images/bg-pattern-bottom.svg) bottom -600px right -150px no-repeat, url(../images/bg-pattern-top.svg) top -500px left -200px no-repeat;
    background-color: #19a2ae;
    @include flexCenter(column);

    @media only screen and (max-width: 768px) {
        background: url(../images/bg-pattern-bottom.svg) top -100px right 50px no-repeat,
            url(../images/bg-pattern-top.svg) top 520px left -50px no-repeat;

        background-color: #19a2ae;
    }
}